
body {
  background: #f9f9f9;
  color: #333;
  overflow-x: hidden;
}
.hero {
  background: #111 url("../images/background.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}
.hero h1 {
  font-size: 4rem;
  margin-bottom: 16px;
  font-family: var(--titlefont2);
  font-size: 400%;
}
.hero p {
  font-family: var(--titlefont1);
  font-size: 1.3rem;
  margin-bottom: 28px;
  max-width: 600px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons a {
  padding: 25px 40px;
  font-family: var(--titlefont1);
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  cursor: pointer;
  margin: 100px;
}
.primary {
  background: #24a;
  color: rgb(0, 0, 0);
  transition: 0.1s ease;
}
.primary:hover {
  scale: 1.1;
  filter: var(--bright);
}
.scroll-section {
  height: 100vh;
  background: #f9f9f9;
  border-radius: 20px;
  margin-top: -2%;
}