@font-face {
  font-family: "Fredoka-Light";
  src: url("Fredoka/static/Fredoka-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Fredoka-Bold";
  src: url("Fredoka/static/Fredoka-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto/static/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --primario: #2563eb;
  --secundario: #325fc0;
  --branco: #ffffff;
  --branco2: #e5e7eb;
  --cinza: #4b5563;
  --text: #1f2937;
  --titlefont1: "Fredoka-Light";
  --titlefont2: "Fredoka-Bold";
  --textfont1: "Roboto-Light";
  --textfont2: "Roboto-Bold";
  --bright: 80%;
}
#DefaultHeader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--branco2);
  height: 10%;
  width: 100%;
  margin: 0px;
  align-items: center;
  display: flex;
  z-index: 1000;
}
#DefaultHeader > * {
  margin: 20px;
}
#DefaultHeader > img {
  cursor: pointer;
  height: 90%;
}
#DefaultHeader > h1 {
  font-family: var(--titlefont2);
  margin-block: 10px;
  text-align: center;
  font-size: 250%;
}
#DefaultHeader > a {
  font-family: var(--titlefont1);
  font-weight: bolder;
  text-decoration: none;
  color: black;
  font-size: 150%;
  transition: 0.1s ease;
}
#DefaultHeader > a:hover {
  color: var(--primario);
}
#menu {
  margin: 10px;
}
#logo {
  margin: 10px;
  border-radius: 15px;
}
#LogoMenu {
  height: 10%;
  margin: 10px;
  border-radius: 15px;
}
body:has(#menu:hover) #BarraMenu {
  left: 0px;
  opacity: 1;
}
body > nav {
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
}
footer {
  background: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  color: var(--text);
  padding: 20px;
}
footer nav a {
  margin: 0 8px;
  color: var(--text);
}

#dialog {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#dialog > div {
  max-width: 30%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--branco);
  border-radius: 10px;
  flex-direction: column;
  display: flex;
}
#dialog > div > p {
  margin: 20px;
  font-size: 200%;
  font-family: var(--titlefont1);
  color: var(--text-color1);
}
#dialog > div > button {
  color: var(--text-color2);
  font-size: 130%;
  font-family: var(--titlefont1);
  padding: 15px;
  margin-block: 10px;
  margin-inline: 20px;
  background-color: var(--primario);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
#dialog > div > button:hover {
  background-color: var(--cinza);

}

