@font-face {
  font-family: 'Fredoka-Light';
  src: url('Fredoka/static/Fredoka-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Fredoka-Bold';
  src: url('Fredoka/static/Fredoka-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto/static/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --primario: #2563eb;
  --secundario: #325fc0;
  --branco: #ffffff;
  --branco2: #E5E7EB;
  --cinza: #4b5563;
  --text: #1f2937;
  --titlefont1: "Fredoka-Light";
  --titlefont2: "Fredoka-Bold";
  --textfont1: "Roboto-Light";
  --textfont2: "Roboto-Bold";
  --bright: 80%
}
body > #DefaultHeader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--branco2);
    height: 10%;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    z-index: 1000;
}
body > #DefaultHeader > img {
    cursor: pointer;
}
body > #DefaultHeader > h1 {
    font-family: var(--titlefont2);
    margin-block: 10px;
    text-align: center;
    width: 10%;
    font-size: 250%;
}
#menu {
    margin: 10px;
}
#logo {
    margin: 10px;
    border-radius: 15px;
}
#LogoMenu {
    height: 10%;
    margin: 10px;
    border-radius: 15px;
}
body:has(#menu:hover) #BarraMenu {
    left: 0px;
    opacity: 1;
}
#background-black {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--text);
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 1001;
}
body:has(#menu:hover) #background-black {
    opacity: 0.3;
}
body:has(#BarraMenu:hover) #background-black {
    opacity: 0.3;
}
#BarraMenu:hover {
    left: 0px;
    opacity: 1;
}
#BarraMenu {
    z-index: 1002;
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 350px;
    background-color: var(--branco2);
    top: 0%;
    left: -350px;
    transition: 0.2s ease;
}
#BarraMenu > h1 {
    font-family: var(--titlefont2);
    height: 10%;
    margin: 10px;
    width: 50%;
    font-size: 300%;
    position: absolute;
    top: 0%;
    right: 20%; 
}
#BarraMenu > ul {
    position: absolute;
    left: 10px;
}
#BarraMenu > ul > li {
    position: relative;
    margin-left: 10%;
    list-style-type: none;
    margin-bottom: 25px;
}
#BarraMenu > ul > li > a {
    font-family: var(--titlefont2);
    text-decoration: none;
    color: var(--text);
    font-size: 150%;
    font-weight: bold;  
    font-style: normal;
}
body > nav {
    position: absolute;
    top: 10%;
    left: 0;
    height: 100%;
    width: 100%;
}
footer {
  background: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  color: var(--text);
  padding: 20px;
}
footer nav a {
  margin: 0 8px;
  color: var(--text);
}